In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('Advertising.csv', index_col=0)
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [5]:
feature_cols = ['TV', 'Radio', 'Newspaper']
X = data[feature_cols]
X.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [6]:
print type(X)
print X.shape

<class 'pandas.core.frame.DataFrame'>
(200, 3)

In [7]:
y = data['Sales']
y.head()

1    22.1
2    10.4
3     9.3
4    18.5
5    12.9
Name: Sales, dtype: float64

In [8]:
print type(y)
print y.shape

<class 'pandas.core.series.Series'>
(200,)

In [9]:
from sklearn.cross_validation import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, y, random_state=1)

In [11]:
print Xtrain.shape
print Xtest.shape
print Ytrain.shape
print Ytest.shape

(150, 3)
(50, 3)
(150,)
(50,)

In [12]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(Xtrain, Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
print linreg.intercept_
print linreg.coef_

2.87696662232
[ 0.04656457  0.17915812  0.00345046]

In [14]:
list(zip(feature_cols, linreg.coef_))

[('TV', 0.046564567874150281),
 ('Radio', 0.17915812245088836),
 ('Newspaper', 0.0034504647111804347)]

In [17]:
Ypred = linreg.predict(Xtest)

# Evaluation of Linear Regression

In [18]:
from sklearn import metrics

In [21]:
#Mean Absolute error : Average error
metrics.mean_absolute_error(Ypred,Ytest)

1.0668917082595213

In [22]:
#Mean Squared error : Punishes large errors
metrics.mean_squared_error(Ypred,Ytest)

1.9730456202283384

In [24]:
import numpy as np
#Root Mean Squared error: Square root of Mean squared error, scales the error relative to Y
np.sqrt(metrics.mean_squared_error(Ypred,Ytest))

1.4046514230328955